/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    box-sizing: border-box;
}

body{
    background-color: #F1F1F1;
    font-size: 14px;
}

table{
    margin: 30px 0;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
    border-collapse: collapse;
    border: 1px solid #38678f;
    background: white;
    width: 100%;
}

table tr{
    border-bottom: 1px solid #cccccc;
}

table tr:last-child{
    border-bottom: 0;
}

table th,
table td{
    padding: 10px;
}

table th{
    background: steelblue;
    height: 34px;
    font-weight: lighter;
    text-shadow: 0 1px 0 #38678f;
    color: white;
    border: 1px solid #38678f;
    box-shadow: inset 0px 1px 2px #568ebd;
}

table td{
    border-right: 1px solid #cccccc;
}

table td:last-child{
    border-right: 0;
}

.article{
    background-color: #fff;
    padding: 15px;
    max-width: 1200px;
    margin: 50px auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 800px){
    table thead {
        display: block;
        float: left;
    }

    table * {
        display: block;
    }

    table tbody {
        overflow: auto;
        white-space: nowrap;
    }

    table tbody tr {
        display: inline-block;
    }

    table {
        display: block;
    }

    table td {
        height: 34px;
        border-bottom: 1px solid #cccccc;
    }

    table td:last-child{
        border-right: 1px solid #cccccc;
    }


}


