/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

label{
    font-size: 1.6rem;
}

input,
textarea{
    background-color: #ffffff;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #292d3a;
    border: 2px solid #292d3a;
    padding: 10px 15px;
    outline: none;
}

h1{
    font-size: 2.4rem;
}

.divider{
    height: 1px;
    background-color: #e0e0e0;
    margin-bottom: 10px;
}

.wrapper{
    background-color: #f9f9f9;
    padding: 10px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
}

.error{
    color: #b91616;
    font-size: 1.3rem;
}

.btn-zamow{
    background-color: #e7725d;
    border: none;
    font-size: 1.6rem;
    padding: 10px 55px;
    color: #fff;
    font-weight: 600;
    width: 100%;
}

.control .error{
        text-align: right;
}

.control input, textarea{
    width:100%;
}

.grid-item .width-50 {
    float: left;
}

.width-50 {
    width: 50%
}

.fixed {
    overflow: hidden;
}
.grid-item {
    margin-bottom: 10px;
    overflow: hidden;
}


