/*DEFAULT*/

body {
    margin: 0;
    line-height: 1.375;
    font-family: Georgia, Times New Roman, Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Avenir Next, Avenir, Franklin Gothic, Trebuchet MS, Arial, sans-serif;
    margin-top: 0;
}

a {
    color: #8E3339;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}


/* masthead styling */

* {
    box-sizing: border-box;
}

.story h3 {
    color: #8E3339;
}

.masthead {
    background-color: #8E3339;
}

.wrapper {
    width: 95%;
    max-width: 76em;
    margin: 0 auto;
    overflow: hidden;
}

.masthead h1 {
    margin: 0;
    padding: 0.5em 0;
    color: #fff;
    text-shadow: -.1em .1em 0 rgba(0, 0, 0, 0.3);
}

.navbar {
    background-color: #5E2126;
}

.navbar ul {
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navlist>li {
    display: table-cell;
    background-color: #752A2F;
    text-align: center;
    text-transform: uppercase;
    border-left: 1px solid #8E3339;
    table-layout: fixed;
}

.navlist>li>a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 1.5em 2em;
    text-align: center;
}


/*SEKCJE */

.row {
    margin: 0 -.6876em;
    padding: 0;
    list-style: none;
    display: table;
}

.row:after {
    content: '';
    display: block;
    clear: both;
}

.row-quartet>* {
    width: 25%;
}

.row-trio>* {
    width: 33.3333%;
}

.col {
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 .6875em 1.375em;
    display: table-cell;
    padding-bottom: 100%;
    margin-bottom: -100%;
}

.col:last-child {
    float: right;
}


/* content styling */

.subcategory {
    margin-top: 1.5em;
    border-bottom: 1px solid #8e3339;
}

.subcategory-featured {
    width: 50%;
}

.subcategory-content {
    width: 80%;
}

.subcategory-header {
    width: 20%;
}

.story {
    padding: .6875em;
    background-color: #eee;
}

.story+.story {
    margin-top: 1.375em;
}

.story img {
    width: 100%;
}


/* RESPONSIVE */

@media only screen and (max-width: 1000px) {
    .subcategory-header,.subcategory-content{
        width: 100%;
    }
}
@media only screen and (max-width: 800px) {
   
    .row-quartet>*,.row-trio>*{
        width:50%;
        margin-top: 1em;
    } 
    .row-trio > .col:nth-child(1), .row-trio > .col:nth-child(3){
        width:100%;
    }
    .row-quartet > .subcategory-featured{
        width: 100%;
    }
    
}

@media only screen and (max-width: 500px) {
     .row-quartet>*,.row-trio>*{
        width:100%;
        margin-top: 1em;
    } 
}