html,
body,
div {
    margin: 0;
    padding: 0;
}

#header {
    background: #d7dabd;
}

#container {
    float: left;
    width: 100%;
    margin-left: -200px;
}

#sidebar {
    width: 200px;
    float: right;
}

#footer {
    background: #d7dabd;
    clear: both;
}
