 /* FONTS */
 
 @font-face {
     font-family: 'Cantarell';
     src: url('../css/_fonts/Cantarell-Regular-webfont.eot');
     src: url('../_fonts/Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../_fonts/Cantarell-Regular-webfont.woff') format('woff'), url('../_fonts/Cantarell-Regular-webfont.ttf') format('truetype'), url('../_fonts/Cantarell-Regular-webfont.svg#webfont9UOzsjXz') format('svg');
     font-weight: normal;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'Cantarell';
     src: url('../_fonts/Cantarell-Oblique-webfont.eot');
     src: url('../_fonts/Cantarell-Oblique-webfont.eot?#iefix') format('embedded-opentype'), url('../_fonts/Cantarell-Oblique-webfont.woff') format('woff'), url('../_fonts/Cantarell-Oblique-webfont.ttf') format('truetype'), url('../_fonts/Cantarell-Oblique-webfont.svg#webfontRl4nowrT') format('svg');
     font-weight: normal;
     font-style: italic;
 }
 
 @font-face {
     font-family: 'Cantarell';
     src: url('../_fonts/Cantarell-Bold-webfont.eot');
     src: url('../_fonts/Cantarell-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../_fonts/Cantarell-Bold-webfont.woff') format('woff'), url('../_fonts/Cantarell-Bold-webfont.ttf') format('truetype'), url('../_fonts/Cantarell-Bold-webfont.svg#webfontKr2CkGZp') format('svg');
     font-weight: bold;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'Cantarell';
     src: url('../_fonts/Cantarell-BoldOblique-webfont.eot');
     src: url('../_fonts/Cantarell-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'), url('../_fonts/Cantarell-BoldOblique-webfont.woff') format('woff'), url('../_fonts/Cantarell-BoldOblique-webfont.ttf') format('truetype'), url('../_fonts/Cantarell-BoldOblique-webfont.svg#webfontQ1aSR0ux') format('svg');
     font-weight: bold;
     font-style: italic;
 }
 
 @font-face {
     font-family: "Cardo";
     src: url("../_fonts/Cardo99s-webfont.eot");
     src: url("../_fonts/Cardo99s-webfont.eot?#iefix") format("embedded-opentype"), url("../_fonts/Cardo99s-webfont.woff") format("woff"), url("../_fonts/Cardo99s-webfont.ttf") format("truetype"), url("../_fonts/Cardo99s-webfont.svg#webfontQ5EXXZTZ") format("svg");
     font-weight: normal;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'OstrichSansBold';
     src: url('../_fonts/ostrich-bold-webfont.eot');
     src: url('../_fonts/ostrich-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../_fonts/ostrich-bold-webfont.woff') format('woff'), url('../_fonts/ostrich-bold-webfont.ttf') format('truetype'), url('../_fonts/ostrich-bold-webfont.svg#OstrichSansBold') format('svg');
     font-weight: normal;
     font-style: normal;
 }
 /*=======================STYLES========================
========================================================*/
 
 * {
     box-sizing: border-box;
 }
 
 ul,
 li,
 p {
     padding: 0;
     margin: 0;
 }
 
 .clear-padding {
     padding: 0 !important;
 }
 
 .clear-margin {
     margin: 0 !important;
 }
 
 .pull-left {
     float: left;
 }
 
 .pull-right {
     float: right;
 }
 
 .row {
     clear: both;
 }
 
 .half {
     width: 50%;
 }
 
 .whole {
     width: 100%;
 }
 
 body {
     font-family: "Cantarell", "sans-serif";
     /*font-family: "Cardo", "sans-serif";*/
     /*font-family: "OstrichSansBold", "sans-serif";*/
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }
 
 #main-wrapper {
     max-width: 1280px;
     margin: 0 auto;
     min-width: 1270px;
     overflow: hidden;
 }
 
 #logo {
     background-color: #646266;
     background-image: url("../img/urban/desolve_logo.png");
     background-repeat: no-repeat;
     background-position: left center;
     padding-left: 110px;
     float: left;
 }
 
 #logo img {}
 
 header {
     background: rgb(100, 98, 102);
     padding-top: 1px;
     overflow: hidden;
     margin-bottom: 1.5em;
     padding-left: 50px;
     clear: both;
 }
 
 .h1 {
     color: #fff;
     font-size: 3.2em;
     font-weight: bold;
     text-transform: uppercase;
     line-height: 165px;
     margin-right: 0.5em;
 }
 
 .h2 {
     color: #fff;
     font-size: 1.4em;
     line-height: 130px;
     font-style: italic;
     letter-spacing: 2;
 }
 /* MENU */
 
 navbar ul {
     display: block;
     width: 100%;
     margin: 0 auto;
     overflow: hidden;
 }
 
 navbar ul li {
     list-style-type: none;
     padding: 0;
     margin-right: 3.5em;
     display: block;
     float: left;
 }
 
 navbar ul li em {
     display: block;
     text-transform: none;
     margin-top: 0.2em;
 }
 
 navbar ul li a {
     text-decoration: none;
     color: black;
     text-transform: uppercase;
     font-size: 1em;
     padding-left: 1.8em;
     height: 25px;
     text-align: center;
 }
 
 .gallery {
     background-image: url("../img/urban/icon_sprites_25.png");
     background-position: 0 0;
     background-repeat: no-repeat;
 }
 
 .gear {
     background: url("../img/urban/icon_sprites_25.png") no-repeat 20px -101px;
     padding-left: 50px;
 }
 
 .interact {
     background: url("../img/urban/icon_sprites_25.png") no-repeat 50px -200px;
     padding-left: 80px;
 }
 
 .shop {
     background: url("../img/urban/icon_sprites_25.png") no-repeat 0px -302px;
 }
 /* PHOTO SECTION */
 
 #main-photo {
     display: block;
     background: url("../img/urban/sm_skyline.jpg") no-repeat;
     background-size: cover;
     height: 365px;
     width: 100%;
     position: relative;
 }
 
 .photo-desc {
     display: block;
     position: absolute;
     width: 286px;
     ;
     right: 20px;
     top: 20px;
     color: #fff;
     line-height: 1.4em;
     border: 0;
     letter-spacing: 0.1em;
 }
 
 .photo-title {
     display: block;
     position: absolute;
     color: #fff;
     left: 40px;
     bottom: 5px;
     line-height: 1.4em;
     font-size: 2em;
 }
 /* ARTICLE SECTION */
 
 #main-article {
     width: 950px;
     float: left;
     padding: 50px;
 }
 
 .article-logo {
     line-height: 50px;
     background-image: url("../img/urban/desolve_logo_50.png");
     background-repeat: no-repeat;
     background-position: right 10px;
 }
 
 .article-fs-2em {
     font-size: 2em;
 }
 
 .article-header {
     border-bottom: 2px solid black;
     padding: 10px 0 20px 0;
 }
 
 .article-body-lg {
     padding: 30px 0 20px 0;
 }
 
 .article-body {
     padding: 10px 0;
 }
 
 .article-fs-1em {
     font-size: 1.2em;
 }
 
 .article-ul {
     margin-left: 3em;
 }
 
 .article-frame {
     background-color: #ede4d6;
     padding: 1em;
     width: 400px;
     border-top-left-radius: 1em;
     border-bottom-right-radius: 1em;
     font-size: 0.9em;
 }
 /*RIGHT ARTICLE*/
 
 #right-article {
     float: right;
     max-width: 330px;
     margin-top: 50px;
 }
 
 .sidebar-wrapper {
     margin: 20px auto;
     width: 280px;
 }
 
 .sidebar-title {
     font-size: 1.2em;
     text-align: center;
 }
 
 .gallery-elements ul li {
     list-style: none;
     height: 30px;
     padding-left: 20px;
     padding-top: 7px;
     padding-bottom: 7px;
     line-height: 15px;
     margin-top: 2px;
 }
 
 .gallery-elements ul li:nth-child(2n+1) {
     background-color: #d8d5bc;
 }
 
 .gallery-elements ul li:nth-child(2n) {
     background-color: #ede4d6;
 }
 
 .sidebar-center {
     text-align: center;
 }
 
 .sidebar-font {
     font-size: 0.9em;
 }
 
 section {
     overflow: hidden;
 }
 /*FOOTER*/
 
 footer {
     height: 175px;
     background-color: #aca982;
     margin-top: 2em;
 }
 
 .twitter {
     width: 200px;
     margin-top: 25px;
     height: 90px;
     padding-left: 110px;
     text-align: center;
     line-height: 90px;
 }
 
 .twitter-image {
     background: url("../img/urban/tweet_90.png") no-repeat;
     background-position: left;
 }
 
 .contact {
     margin-top: 45px;
     margin-left: 50px;
 }
 
 .contact p {
     font-size: 1.4em;
     display: block;
     color: #4b6255;
 }
 
 .contact input[type='text'] {
     width: 100%;
 }
 
 .contact input {
     margin-top: 0.5em;
 }
 
 .copyright {
     margin-top: 20px;
 }
 /*=========GALLERY PAGE ==========================*/
 
 .gallery-heading {
     display: block;
     background: url("../img/urban/gallery_icon_50.gif") no-repeat right top;
     height: 70px;
     border-bottom: 1px solid black;
     padding: 20px 0 5px 0;
     margin-top: 1em;
     line-height: 40px;
     vertical-align: center;
     font-size: 1.6em;
     letter-spacing: 2px;
 }
 
 .gallery-item-header {
     clear: both;
     overflow: hidden;
 }
 
 .gallery-item {
     margin-top: 2em;
 }
 
 .gallery-item-title {
     float: left;
     font-family: OstrichSansBold;
     font-size: 3em;
 }
 
 .gallery-item-date {
     float: right;
     text-transform: uppercase;
     line-height: 3em;
     vertical-align: bottom;
 }
 
 .gallery-item-image {
     height: 250px;
     width: 100%;
     background-size: cover !important;
 }
 
 .philadelpia {
     background: url("../img/urban/philly_banner.jpg") no-repeat;
 }
 
 .chickago {
     background: url("../img/urban/chicago_banner.jpg") no-repeat;
 }
 
 .new-york {
     background: url("../img/urban/nyc_banner.jpg") no-repeat;
 }
 
 .gallery-item-description {
     padding: 1.2em 0;
     border-bottom: 1px solid black;
     font-size: 1.2em;
 }
 /* =========================GEAR=================================*/
 
 .gear-heading-wrapper {
     margin-top: 70px;
 }
 
 .gear-heading-wrapper>p {
     font-family: OstrichSansBold;
     font-size: 10em;
 }
 
 .gear-article {
     column-count: 2;
 }
 
 .gear-article p {
     margin-bottom: 1em;
 }
 
 .gear-image-wrapper {
     margin-top: 3em;
 }
 
 .gear-image-item {
     padding: 7px;
 }
 
 .gear-image-item img {
     width: 100%;
 }
